<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Bugwarts Suite" preserve-order="true">
    <!-- API tests -->
    <test name="API - Preview">
        <classes>
            <class name="api.TestPreview"/>
        </classes>
    </test>
    <!-- UI tests -->
    <test name="UI - Chatbot">
        <classes>
            <class name="ui.chatbot.ChatBotTest"/>
        </classes>
    </test>
</suite>
